html {
    background-color: #151315;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}





.middle {
    background-color: white;
    float: right;
    text-align: center;
    position: relative;
    bottom: 65%;
    right: 3.5%;
    color: black;
    height: 250px;
    width: 400px;
}



hr {
    margin: auto;
    width: 40%;
}



.link:link,
.link:visited {
    background-color: white;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.link:hover,
.link:active {
    background-color: white;
}




.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: white;
}

w .active {
    background-color: coral !important;
}

#titleupdate {
    background-color: white;
    position: relative;
    bottom: 28%;
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    width: 24.57%;
}



#Updates {
    font-family: "Courier New", Courier, monospace;
    float: left;
    background-color: white;
    float: left;
    position: relative;
    bottom: 38%;
    resize: none;
}




#tweet {
    color: white;
}

#Trailer {
    position: relative;
    height: 500px;
    width: auto;
}
