body {
  padding: 0px;
  margin: 0px;
}

#Heading {
  text-align: center;
  color: grey;
}

.Highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.update_log {
  display: flex;
  border: inset 10px #998c86;
  background-color: #2b2b2b;
  color: #998c86;
  width: 39%;
  height: auto;
}

#titleupdate {
   font-family: "Courier New", Courier, monospace;
  }

#Updates {
   font-family: "Courier New", Courier, monospace;
   resize: none;
   height: 300px;
 }

#Trailer {
    width: 40%;
    height: auto;
    padding-bottom: 3%;
  }

#Nav_Open {
  width: 40px;
  height: 40px;
  float: left;
}

#Nav_Close {
  width: 0px;
  height: 0px;
  float: left;
}

#list_archives {
  padding: 30px;
  float: left;
  width: 0%;
  height: 500px;
  color: grey;
  font-size: 30px;
}

a {
  color: grey;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #151315;
  }

  .update_log {
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  #Updates {
    height: 400px;
  }


  #Trailer {
        width: 100%;
        height: auto;
        padding-bottom: 5%;
  }

  #list_archives {
    padding: 10px;
    height: auto;
    font-size: 20px;
  }


}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #5b585b;
  }

  .update_log {
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  #Updates {
    height: 500px;
  }

  #Trailer {
      width: 100%;
      height: auto;
      padding-bottom: 3%;
    }

  #list_archives {
    padding: 15px;
    height: 500px;
    font-size: 25px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 980px) {

  body {
     background-color: #151315;
  }
}
