#Heading {
  text-align: center;
}

.illustration {
  width: 100%;

}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D;
    /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: yellow;
    /* Red */
  }

  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 980px) {
  .illustration {
    width: 100%;
    position: relative;
    left: 35%;
  }
  body {
    background-color: aqua;
    /* Red */
  }
}
