#Heading {
  text-align: center;
}

.Highlight {
  display: flex;
  justify-content: center;

}

.update_log {
  display: flex;
  justify-content: left;
  background-color: white;
  width: 32%;

}

.timer {
  display: flex;
  flex-direction: column;
  j
}

#titleupdate, #Updates {

    color: black;
    font-family: "Courier New", Courier, monospace;
    resize: none;
  }

  #Trailer {
    width: 40%;
    height: 40%;
  }

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #2a1e63;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #5b585b;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 980px) {

  body {
    background-color: #151315;
  }
}
